@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  code {
    @apply block text-sm font-mono text-purple-600 bg-purple-100 rounded px-1 py-2 my-2 mx-4 w-4/5 text-wrap;
  }

  article * {
    @apply text-gray-900 leading-7 py-2; /* Tailwind utility classes for article */
    /* Additional custom CSS for article */
  }
  article h1 {
    @apply text-3xl font-bold text-gray-800 py-4; /* Tailwind utility classes for h1 */
    /* Additional custom CSS for h1 */
  }

  article h2 {
    @apply text-2xl font-bold text-gray-700 pt-4 pb-1; /* Tailwind utility classes for h2 */
    /* Additional custom CSS for h2 */
  }

  article h3 {
    @apply text-xl font-semibold text-gray-600; /* Tailwind utility classes for h3 */
    /* Additional custom CSS for h3 */
  }

  article h4 {
    @apply text-lg font-semibold text-gray-600; /* Tailwind utility classes for h4 */
    /* Additional custom CSS for h4 */
  }

}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.hero-image {
  position: relative;
  height: 80vh; /* Adjust based on your preference */
  width: 80vh;
  background-image: url('/images/hero.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
}

.hero-image:before {
  content: ' ';
  position: absolute;
  height: 80vh;
  width: 80vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #202121, rgba(0,0,0,0), #202121 95%);
}
